body, html, html .text-base, p
{
	/*
	 text-align: left;
	 font-family: Roboto,Georgia,Times,Times New Roman,serif !important;
	 font-weight: 400;
	 color: #414141;
	 font-size: 15px;
	 height: 100%;
	 line-height: 24px;*/
}


.mdl-color--primary
{
	background-color:rgb(33,150,243)!important;
}
.mdl-color-text--primary
{
	color:rgb(33,150,243)!important;
}

.mdl-layout__header
{
	background:rgb(33,150,243)!important;
}

.mdl-layout__tab.is-active::after
{
	background:rgb(255,171,64)!important;
}

#demo > a:after
{
	content:"\a";
	white-space: pre;
	line-height: 1.8;
}