body, html, html .text-base, p
{
	text-align: justify;
}
.mdl-color--primary
{
	background-color:#27A5BE !important;
}
.mdl-color-text--primary
{
	color:#27A5BE!important;
}

.mdl-layout__header
{
	background:#27A5BE !important;
}

.mdl-layout__tab.is-active::after
{
	font-size:50px;
	background:rgb(255,171,64)!important;
	
}